<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
    <h1 style="text-align: center;">Hobbies</h1>
    <ul>
       <% for(const todo of todos) { %>
            <li class = "list-item"><%= todo %></li> 
      <%  } %>
    </ul>
    <%- include('partials/card') %> 
<%- include('partials/footer') %> 